<p>Subject ID <%= @subject.id %> has been flagged as interesting!</p>

<p>You can see its external reference here: <%= link_to @subject.external_ref, "#{ @subject.external_ref }" %></p>

<p>Bye for now!</p>

<p><em>Das Juggernaut</em></p>