@import url(reset.css);
@import url(fonts.css);
@import url(attached.css);

body { 	background: #eee url(../images/admin/bg-repeat.gif) repeat-y center top; }

br, .clear	{ clear: both; }

a { color: #0080FF; text-decoration: none; }

a:hover	{ text-decoration: underline; }

h2 { font-size: 1.8em; padding-bottom: 2px; border-bottom: 3px double #ccc; color: #333; }
h3 { font-size: 1.1em; padding-bottom: 2px; text-align: right; border-bottom: 1px solid #F6D066; margin-bottom: 10px; }
h4.title	{ font-size: 1.6em; padding: 0px; text-align: center; background: #fff; margin-bottom: 10px; font-weight:normal; color: #333;font-style:italic; }
h4.subtitle	{ font-size: 1.2em; padding: 0px; text-align: center; background: #fff; margin-bottom: 10px; font-weight:normal; color: #333; }

p.headline { font-weight:bold; font-size: 1.1em; padding-bottom: 2px; text-align: left; margin-bottom: 3px;}

#header, #content { 
	width: 900px; 
	margin: 0px auto; 
}

#header 	{ padding: 10px 0; }

#header h1 { width: 350px; float: left; margin-left: 10px; }

*html #header h1 { margin-left: 5px;}

#details 		 { float:right; padding: 5px 12px; text-align: right; font-size: 0.85em; }
#details li 	 { margin: 2px 0; }
#details li.user { font-weight: bold; }

#top-bar 	{ margin-bottom: 15px; }

/* Navigation bar */

#nav {
	height: 30px;
	margin-top: 5px;
	border: 1px solid #499A58;
	border-left: none;
	border-right: none;
	background: #499A58 url(../images/admin/nav-bg.gif) repeat-x top left;
}

#nav li { float: left; border-right: 1px solid #499A58; }

#nav li a {
	display: block;
	padding: 0 20px;
	line-height: 30px;
	text-decoration: none;
	font-size: 1.1em;
	color: #fff;
}

#nav li a:hover { color: #499A58; background: url(../images/admin/nav-bg-over.gif) repeat-x top left; }

/* Sub-navigation bar */

#sub-nav-wrap {
	height: 15px;
	padding: 5px;
	background: #eee;
	border-bottom: 1px solid #ccc;
}

.sub-nav 			{ float:left; }
.sub-nav li 		{ float: left; margin-right: 10px; }
.sub-nav li.break 	{ padding-right: 10px; border-right: 1px solid #ccc; }
.sub-nav.right 		{ float: right; }
.sub-nav span.disabled { color: #ccc; }

/* Main column */

#main-col 	{ float: left; padding: 10px; width: 630px; }

/* RH column */

#rh-col {
	float: right;
	padding: 10px;
	width: 220px;
	border: 1px solid #F6D066;
	border-right: none;
	background: #FBECC2;
}

#rh-col ul {
	margin-top: 6px;
}

#rh-col ul img {
}

#rh-col p {
	line-height:18px;
}


/* list views */

.list 		{ width: 100%; font-size: 0.9em;}
.list .alt 	{ background: #eee; }
.list td 	{ border: 1px solid #ccc; padding: 5px 10px; }
.list p 	{ margin: 0;}
.list .p1 	{ font-weight: bold; }
.list .p1 .light { font-weight:lighter; font-size:0.9em;}
.list .p2 	{ font-weight: lighter; padding:2px 0px 2px 0px;}
.list .p3 	{ font-weight: lighter;  color:#ff0000; margin:2px 0px 3px 0px; font-size:1.2em;}

.list .no-results {
	text-align: center;
	font-size: 1.2em;
	font-style: italic;
	padding: 10px;
}
.list .actions {
	font-size: 1.2em;
	text-align: right;
	width: 120px;
}

.list .file_info{
	padding:7px 10px 7px 10px;
	width:120px;
	vertical-align:top;
	text-align:left;
}

/* forms */

form #form-wrap {
}

form #toggle-link {
	padding: 5px 3px;
	margin-bottom: 5px;
}

form label {
	border: 1px solid #eee;
	display:block;
	margin-bottom: 10px;
}

form span#answers {
	border: 1px solid #eee;
	display:block;
	margin-bottom: 10px;
}

form span#answers span {
	display: block;
	margin: 5px;
	font-weight: bold;
}

form label span.left {
	margin: 5px 0px 5px 5px;
	font-weight: bold;
}
form label span.right {
	margin: 5px 0px 5px 5px;
	font-weight: bold;
}

form label div.left{
	float:left;
}

form label span {
	display: block;
	margin: 5px;
	font-weight: bold;
}

form label span a {
	display: block;
	color: #000;
}

form label span a:hover {
	color: #0080FF;
	text-decoration: none;
}

form label.format span.icon {
	background: url(/images/admin/style.gif) no-repeat right center;
}
form label.date span.icon {
	background: url(/images/admin/time.gif) no-repeat right center;
}

form label span.validation-error { color: red; padding-left: 20px; background: url(../images/icons/exclamation.gif) no-repeat left center; }
form input,
form textarea { margin: 5px; width: 295px; }
form textarea { height: 200px; }
form select{ margin: 5px; width: 100px}
form p { margin: 5px; display:inline; }

form .hsml { width: 200px; }
form .hlrg { width: 400px; }
form .hxlr { width: 95%; }

form .vsml { height: 100px; }
form .vlrg { height: 300px; }
form .vxlr { height: 400px; }

.buttons input { width: auto; }

form .date-entry input { float: left; }

form .date-entry span.results {
	margin: 0;
	margin-top: 9px;
	font-weight: normal;
	font-size: 0.8em;
	font-style: italic;
	color: #ccc;
}

form label.tick span { display: inline; }
form label.tick input { width: auto; }

form .warning {
	border: 1px solid #FFCCCC;
	padding: 10px;
	padding-top: 30px;
	margin-bottom: 10px;
	background: url(../images/icons/exclamation.gif) no-repeat center 5px;
}

form .warning p { margin-bottom: 1em; }
form .warning p strong { font-weight: bold; }

form input.checkbox{ margin: 5px; width: 10px; }

/* flashes */

.flash p{
	font-size: 0.9em;
	line-height:0.9em;
	text-align:center;
	padding:10px 10px 10px 10px;
	margin:0;
}

.notice {
	background: #cfe7a6; 
	border: 1px dashed #76b900; 
	margin:5px;
}

.warning {
	background: #fdf4a6; 
	border: 1px dashed #fadf00; 
	margin:5px;
}

.error {
	background: #ffcccc; 
	border: 1px dashed #d81f2a; 
	margin:5px;
}

/* form errors */

table.errors {
	width: 100%;
	background:#ffcccc;
	border: 1px dashed #d81f2a; 
	margin-bottom:5px;
}
table.errors td {
	width:50%;
	padding:10px;
}

table.errors td.item {
	width:50%;
	vertical-align:top;
	text-align:right;
}

/* main view styling */

.type{
	text-align:center;
	font-size: 1.0em;
	margin-bottom: 20px;
	padding: 5px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

/* stats views*/

div.stats {
	width:100%;
	background:#eee;
	border: 1px solid #ccc;
	margin-bottom:20px;
}

div.stats p { padding:5px 5px 0px 5px;}

div.stats p.last { padding-bottom:5px;}

div.stats ul { padding:5px 5px 10px 25px;list-style:disc;float:left;width:240px;}
div.stats ul li { padding:5px 0px 0px 0px; }
div.stats img.right { float:right; padding:5px;}

div.stats ul.hot-links {
	float:left;
	width:260px;
	margin-left:30px;
}


/* Activate link */

div.record-action {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
	border-top: 1px solid #F6D066;
	border-bottom: 1px solid #F6D066;
	background: #FBECC2;
}
div.record-action form div,
div.record-action form 			{ width: auto; display: inline; }
div.record-action form input 	{ width: auto; display: inline; }
div.record-action p 			{ margin:0; display: inline; }


/* embedded content */

#embedded { background: #fff; }
#embedded #content { 
	width: auto;
	border: 1px solid #eee;
	padding: 5px;
}

#embedded #content #section_picker h4 { margin-bottom: 5px; }

#embedded #content #section_picker #current_sections {
	float:left;
	width:180px;
	padding-right: 10px;
	margin-right: 10px;
}

#embedded #content ul#section_list{
	padding:10px 5px 5px 5px;
}

ul#section_list li{
	width:160px;
	text-align:center;
	border:1px solid #999999;
	background-color:#9bd38c;
	padding:5px;
	cursor:move;
	margin-bottom:10px;
}

ul#section_list li:hover{
	width:160px;
	text-align:center;
	border:1px solid #999999;
	background-color:#76b566;
	padding:5px;
	cursor:move;
	margin-bottom:10px;
}

#embedded #content #section_picker #available_sections{
	float:left;
	width:400px;
	padding-right: 0px;
	margin-right: 10px;
}

#embedded #content ul#available_sections_list{
	padding:10px 5px 5px 5px;
	
}

ul#available_sections_list li{
	float:left;
	width:160px;
	text-align:center;
	border:1px solid #999999;
	background-color:#efefef;
	cursor:move;
	padding:5px;
	margin:0px 10px 10px 0px;
}

ul#available_sections_list li:hover{
	background-color:#cbcbcb;

}

/* Add and remove boxes */

#embedded #content #add_section{
	text-align:center;
	width:160px;
	padding:15px 5px;
	margin-left:5px;
	border:1px dashed #999999;
}

#embedded #content #add_section.hovering{
	text-align:center;
	width:160px;
	padding:15px 5px;
	margin-left:5px;
	border:1px solid #999999;
	background-color:#9bd38c;
	
}

#embedded #content #remove_section{
	text-align:center;
	width:160px;
	padding:15px 5px;
	margin-left:5px;
	margin-top:10px;
	border:1px dashed #d16f6f;
}

#embedded #content #remove_section.hovering{
	text-align:center;
	width:160px;
	padding:15px 5px;
	margin-left:5px;
	border:1px solid #999999;
	background-color:#9bd38c;
	
}

.textile strong { font-weight: bold; }
.textile em 	{ font-style: italic; }
.textile ul		{ list-style: disc inside; margin-bottom: 2em; }
	
/* Page show with sections	*/

.page_section{
	border:1px solid #efefef;
	padding:10px;
	margin-bottom:10px;
}

.page_section p{
	padding-top:5px;
	line-height:1.3em;
}

/* Page organization */
#tree, #tree ul { 
	padding-left: 20px; 
	list-style-type: none;
	cursor: move;
}
#tree {
  padding: 0px;
  margin: 12px;
	width: auto;
}
#tree li {
	margin-top: -6px;
}
#tree li a {
  padding: 2px 0 0 18px;
	background: url(/images/admin/page.png) no-repeat left top;
	line-height: 28px;
}
#tree li span.handle {
  display: block;
  float: left;
	width: 15px;
	height: 12px;
	margin: 6px 3px 0 0;
	cursor: pointer;
}
#tree li.empty span {
	background: none;
}
#tree ul li.empty span {
	background: none;
}
#tree li.open span {
	background: url(/images/admin/folder_open.png) no-repeat 3px 3px;
}
#tree li.closed span {
	background: url(/images/admin/folder_closed.png) no-repeat 3px 3px;
}
#tree li.closed li {
	display: none;
}
#tree .drop_hover {
	background: url(/images/admin/drag.png) no-repeat bottom left;
}
#tree .drop_top {
	background-position: 12px top;
}
#tree .drop_bottom {
	background-position: 12px bottom;
}
#tree .drop_insert {
	background-position: 32px 100%;
}

.link_details {
	width: ;
	text-align: center;
	margin: 75px 0px 0px 0px;
}

.link_category {
	border: 1px solid #eee;
	display:block;
	padding: 10px;
	margin-bottom: 10px;
}

.tag_details{
	border: 1px solid #efefef;
	margin-bottom: 10px;
}

.tag_details ul{
	list-style-type: disc;
	margin-left: 13px;
}