@import url(reset.css);
@import url(fonts.css);

body { 
	background:#eee;
	font-family:"Lucida Grande", Lucida, Helvetica, sans-serif; 
}

#central{
	width:350px;
	margin: 0px auto;
	margin-top:50px;
}

h2 { 
	font-size: 22px; 
	padding-bottom: 2px; 
	border-bottom: 1px solid #ccc; 
	color: #333; 
	margin-bottom:10px;
}

form {
	display: block;
	margin: 0 auto;
	padding: 20px 32px 10px 32px;
	border: 1px solid #999;
	background: #fff;
}

form label span {
	font-weight:bold;
	width: 150px;
}

form label span.break {
	display:block;
}

form input { width: 270px; margin:5px 0px 14px 0px; }
form input.bottom { width: 270px; margin:5px 0px 0px 0px; }
form input.tick  { width: auto; margin-left: 20px; }
form .button { width: 100px; margin-top:5px; display:block;}
form .flashBox {
	width: auto;
	margin: 0 auto 5px auto;
}

/* flashes */

.flash p{
	font-size: 0.9em;
	line-height:0.9em;
	text-align:center;
	padding:10px 10px 10px 10px;
	margin:0;
}

.notice {
	background: #cfe7a6; 
	border: 1px solid #76b900; 
	margin:5px 0px;
}

.warning {
	background: #fdf4a6; 
	border: 1px solid #fadf00; 
	margin:5px 0px;
}

.error {
	background: #ffcccc; 
	border: 1px solid #d81f2a; 
	margin:5px 0px;
}
